.Board {
  margin: 20px auto;
  border-collapse: collapse;
  position: relative;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  background-color: midnightblue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #001a4d;
}

.turns-counter {
  border: 4px solid midnightblue;
  padding: 10px;
  margin-top: 20px; /* Adjusted margin from the game board */
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 25%; /* Set it to the right of the game board */
  transform: translate(0, -50%); /* Adjusted translateY */
}
