.Board {
  margin: 20px auto;
  border-collapse: collapse;
}

.Board td {
  width: 80px; /* Increase the size of each cell */
  height: 80px; /* Increase the size of each cell */
  background-color: darkgray;
  border: 1px solid #fff;
}

.Board td.Cell-lit {
  background-color: yellow;
}